.grid-container{
    display:grid;
    grid-template-columns: 80% 20%;
}
.small-grid-container{
    display:grid;
    grid-template-columns: 33% auto 33%;
}

.small-grid-item{
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    padding: 20px;
    display: block;
    
}

.custom-icon{
    padding: 20px;
}

.delete-button{
    background: transparent;
    border: 0px;
    margin-left: 5%;
}

.example-button{
    background: transparent;
    border: 0px;
    margin-left: 5%;
}

h1 strong{
    color: white;
}
h2 strong{
    color: white;
}
h3 strong{
    color: white;
}

.fa-file-import{
    color:white !important;
}

.fa-trash-alt{
    color:white !important;
}

.fa-2x{
    color:white !important;
}
i{
    cursor: pointer;
}

label{
    color: rgb(214, 216, 216);
}