.form-control{
    background: rgba(255,255,255,0.7);
    color:black;
    font-weight: bold;
}
.form-group{
    padding-right: 65%;
}
.container{
   margin-top: 5%;
   margin-left: 32%;
}
.btn{
  margin-left: 13%;
}
h1 strong{
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
label{
  color: white;
  text-shadow: 2px 2px 4px #000000;
}